@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background:#808481;
	padding:2%;
	font-family: 'Josefin Sans', sans-serif;
	font-size:18px;
	text-align:justify;
	line-height:20px;
	color:white;
}
header{
	padding-bottom:10px;
	border-bottom:1px solid #cccccc;
}
p{
	padding: 10px 0;
	text-indent: 5%;
}

/*-------Start: Navigation Styling------------*/
nav{
	width:100%;
	margin: 1% auto;
	overflow:hidden;
}
nav ul{
	list-style:none;
	overflow: hidden;
}
nav li a{
	background: #BEC4C0;
	width:33.2%;
	border-right:1px solid #808481;
	padding:1%;
	text-align: center;
	color:#fff;
	text-decoration:none;
	font-size:120%;
	font-weight:700;
	display:block;
	float:left;
	transition: background 0.5s ease;
}
nav li a:hover{
	background: #ABB2AD;
}
/*-------End: Navigation Styling------------*/

#anc_green{
	color: green;
}

#anc_blue{
	color:blue;
}

/*-------Start: Table Styling------------*/
table{
	border: 3px solid red;
	width:60%;
}
tbody tr td{
	border:1px solid red;
	padding:1%;
}
#span_heading{
font-weight: bold !important;
}

td:nth-child(3) {
    text-align: right;
}
/*-------End: Table Styling------------*/

p img{
	width: 100% !important;
	height: auto;
	max-width:500px;
}
#p_img{
	padding: 5% 0;
	text-indent: 0px;
}

/*-------------------Media Queries-------------------*/
@media only screen and (max-width:780px){
	table{
		width:100%;
	}
}

@media only screen and (max-width:580px){
	body{
		font-size:15px;
		line-height:17px;
	}
	table{
		width:100%;
	}
}